input {
    beats {
        port => "5043"
    }
}
filter {
    grok {
        match => [ "message" ,"orderStatus:%{WORD:orderStatus},totalPrice:%{NUMBER:totalPrice},orderCode:%{WORD:orderCode},user:%{EMAILADDRESS:user},province:(?<province>来自.*(订单)),modifyTime:%{TIMESTAMP_ISO8601:modifyTime}"
                 ]
        add_field => { "logsource" => "%{[fields][log_source]}" }
        add_field => {"logtime" => "%{[modifyTime]}"}
    }
  json {
        source => "log_json"
        target => "log_json_content"
        remove_field=>["logjson"]
  }
  #  mutate {
   #  convert => [ "[ordercode]", "integer" ]
    # }
}
output {
    elasticsearch {
        hosts => [ "localhost:9200" ]
        index => "monitorpoc9-%{+YYYY.MM.dd}"
    }
   stdout{codec=>json_lines}
}