input {
    beats {
        port => "5043"
    }
}
filter {
    grok {
        match => [ "message" ,"orderStatus:%{WORD:orderStatus},totalPrice:%{NUMBER:totalPrice},orderCode:%{WORD:orderCode},user:%{EMAILADDRESS:user},province:(?<province>来自.*(订单)),modifyTime:%{TIMESTAMP_ISO8601:modifyTime}",
                   "message" ,"orderStatus:%{WORD:orderStatus},orderCode:%{WORD:orderCode},province:(?<province>来自.*(订单)),modifyTime:%{TIMESTAMP_ISO8601:modifyTime}",
                   "message" ,"product:%{QUOTEDSTRING:product},totalPrice:%{NUMBER:totalPrice},modifyTime:%{TIMESTAMP_ISO8601:modifyTime}",
                    "message" ,"%{TIMESTAMP_DEFINE:modifyTime} \| %{LOGLEVEL:level}  \[%{JAVAFILE:c1}\:\:%{JAVACLASS:c2}\] \(%{JAVAFILE:c3}\) \[%{JAVAFILE:c4}\] sender service type:---data:{\"orderCode\":\"%{WORD:orderCode}\"",
                    "message" ,"%{TIMESTAMP_DEFINE:modifyTime}  %{LOGLEVEL:level} logDB:10 - {\"type\":\"%{WORD:saptype}\",\"data\":{\"orderCode\":\"%{WORD:orderCode}\"",
                   "message" ,"%{TIMESTAMP_DEFINE:modifyTime}  %{LOGLEVEL:level} logDB:10 - {\"type\":\"%{WORD:saptype}\",\"data\":\[{\"messageCode\":\"%{WORD:messageCode}\",\"soCode\":\"%{WORD:soCode}\",\"orderType\":\"%{WORD:orderType}\",\"failReason\":\"%{WORDORSPACE:failReason}\",\"code\":\"%{WORD:orderCode}\"" ,
                   "message" ,"%{TIMESTAMP_DEFINE:modifyTime} \| %{LOGLEVEL:level} \[%{JAVAFILE:c1}\] \[%{JAVAFILE:c2}\] inbound sap011data:\[\[{\"messageCode\":\"%{WORD:messageCode}\",\"soCode\":\"%{WORD:soCode}\",\"orderType\":\"%{WORD:orderType}\",\"failReason\":\"%{WORDORSPACE:failReason}\",\"code\":\"%{WORD:orderCode}\""
                 ]
        add_field => { "logsource" => "%{[fields][log_source]}" }
        add_field => {"logtime" => "%{[modifyTime]}"}
    }
  json {
        source => "log_json"
        target => "log_json_content"
        remove_field=>["logjson"]
  }
  #  mutate {
   #  convert => [ "[ordercode]", "integer" ]
    # }
}
output {
    elasticsearch {
        hosts => [ "localhost:9200" ]
        index => "monitorpoc14-%{+YYYY.MM.dd}"
    }
   stdout{codec=>json_lines}
}
